@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --glass: rgba(255, 255, 255, 0.06);
  --stroke: rgba(255, 255, 255, 0.14);
}

html,
body {
  background: #0b0d11;
  color: #fff;
}

.glass {
  background: var(--glass);
  border: 1px solid var(--stroke);
  backdrop-filter: blur(10px);
}

.holo {
  mix-blend-mode: screen;
  pointer-events: none;
}
